div,
img,
a,
button,
input
{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    outline: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background-color: rgb(78,86,88);
}

#target {
    cursor: pointer;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: navy;
    z-index: 2;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tgt-container {
    position: absolute;
    left: 0;
    top: 90px;
    width: 280px;
    padding-bottom: 10px;
    pointer-events: none;
}

.tgt,
.tgt2,
.tgt3
{
    text-align: center;
    /*float: left;
    margin-left: 10px;
    margin-top: 10px;*/
    position: absolute;
    top: 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    pointer-events: auto;
    -webkit-perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tgt {
    left: 10px;
}

.tgt2 {
    left: 100px;
}

.tgt3 {
    left: 190px;
}

.tgt {
    z-index: 3;
    background-color: rgb(255,89,199);
}

.tgt2 {
    z-index: 2;
    background-color: rgb(151,242,36);
}

.tgt3 {
    z-index: 1;
    background-color: rgb(244,174,41);
}

.indicate {
    -webkit-box-shadow: 0 0 4px 1px #fff;
    -moz-box-shadow: 0 0 4px 1px #fff;
    box-shadow: 0 0 4px 1px #fff;
}


















